body {
    .navbar {
        .navbar-brand {
            width: 150px;
            height: 50px;

            background-image: url("./images/logo_UniversityOfLeeds.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
        }

        .navbar-text {
            font-weight: 500;
            font-size: 1.2em;
        }
    }

    .panel {
        margin: 15px 0;

        .view {
            height: 500px;
            overflow: auto;
            margin-bottom: 15px;
        }

        .controls {
            // Hide controls by default
            display: none;

            .btn.left {
                float: left;
            }
            .btn.right {
                float: right;
            }
        }

        &.active {
            .controls {
                display: block;
            }
        }
    }    

    #editor {
        .editable {
            position: absolute;
            background-color: #00eeff44;
            z-index: 20;
        }
    }

    #animation {
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    // Utility class to hide panels
    .hidden {
        display: none;
    }

    // Styling for blockquotes
    blockquote {
        border-left: 5px solid #ccc;
        padding: 0 10px;
        color: #666;
    }
}
